# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# --- Firebase client configs 
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# --- Firebase Admin / Service Account keys 
serviceAccountKey.json
**/*serviceAccount*.json
**/*-adminsdk-*.json
**/*firebase-adminsdk-*.json
*.p12
*.pem
*.p8

# --- Firebase CLI / локальные артефакты
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
storage-debug.log

android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/app/di/secrets.dart

# --- Crashlytics/анализ (генерируемые/локальные)
**/crashlytics-build.properties
**/fabric.properties


